# ────────────────
# 🔹 Python 캐시 및 빌드
__pycache__/
*.pyc
*.pyo

# 🔹 모델 및 데이터 파일
models/
!models/lstm_model.py   # 모델 폴더 안 특정 파일만 추적
data_files/
*.pkl
*.pth

# 🔹 환경 변수
.env
.env.*

# 🔹 Jupyter
.ipynb_checkpoints/

# 🔹 IDE 설정
.vscode/
.idea/

# 🔹 운영체제 자동 파일
.DS_Store
Thumbs.db

# 🔹 업로드 이미지 제외 
my_web/static/uploads/*
!my_web/static/uploads/.gitkeep
